.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #131316;
}

.chart-container h2 {
    margin: 40px 0;
    color: #ffffff;
}

.chart-window {
    width: 90%;
    box-shadow: 0 6px 10px rgba(0,0,0,0.5);
}