.header {
    background: #131316;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #26262a;
}

#icon {
    font-size: 24px;
    color: #ffffff;
    margin-left: 50px;
}

#user-icon {
    font-size: 24px;
    color: #ffffff;
    margin-right: 90px;
}